

<a href="/dashboard" style="display: inline;"><< Geri</a>

<div class="admin-title">
    <h2>Post Düzenle</h2>
</div>

<form action="/edit-post/<%= data._id %>?_method=PUT" method="POST">

    <label for="title"><b>Başlık</b></label>
    <input type="text" value="<%= data.title %>" name="title" />

    <label for="body"><b>İçerik</b></label>
    <textarea name="body" cols="50" rows="10"><%= data.body  %></textarea>

    <input type="submit" value="DÜZENLE" class="btn" /> 

</form>