

<h3>Giriş Yap</h3>

<form action="/admin" method="POST">

    <label for="username"><b>Kullanıcı Adı:</b></label>
    <input type="text" placeholder="Kullanıcı Adı Giriniz" name="username"/>

    <label for="password"><b>Parolanız:</b></label>
    <input type="password" placeholder="Parolanızı Giriniz" name="password"/>


    <input type="submit" value="Giriş Yap" class="btn"/>

    <a class="registerBtn" href="/register">Üyelik Oluşturmak İçin Tıklayınız</a>

    <p class="error"><%= message %></p>

</form>

