

<header class="header">
    <a href="/" class="header_logo">Admin Panel</a>

    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="">Anasayfa</a>
            </li>
            <li>
                <a href="/about" class="">Hakkımızda</a>
            </li>
            <li>
                <a href="/contact" class="">İletişim</a>
            </li>
        </ul>
    </nav>

    <div class="header_button">
        <a href="/logout">
            Çıkış
        </a>
    </div>
</header>