

<header class="header">
    <a href="/" class="header_logo">PDF DÖNÜŞTÜRME</a>

    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="">Anasayfa</a>
            </li>
            <li>
                <a href="/about" class="">Hakkımızda</a>
            </li>
            <li>
                <a href="/contact" class="">İletişim</a>
            </li>
        </ul>
    </nav>

    <div class="header_button">
        <button class="searchBtn" aria-expanded="false">Ara</button>
        <a href="/admin">
            Giriş
        </a>
    </div>
</header>